.navbar-nav .nav-link.dropdown-toggle {
	background-color: #d1237a; /* Розовый фон */
	color: #ffffff; /* Белый цвет текста */
	padding: 10px 20px;
	border-radius: 5px;
}

@media (max-width: 767.98px) {
	.text-center{
    font-size: 12px;
	}
}

a.text-body {
	text-decoration: none;
}

.btn-custom {
    background-color: #e04281; /* Розовый фон */
    color: white; /* Белый цвет текста */
    border: none; /* Удалить границу */
}

.btn-custom:hover {
    background-color: #e04281; /* Темный розовый при наведении */
}

.btn-custom:disabled {
    background-color: #922550; /* Цвет для неактивной кнопки */
    color: white;
    opacity: 0.65; /* Слегка уменьшенная непрозрачность для обозначения отключенного состояния */
  }

.navbar-brand-custom {
    color: #ffffff; /* Белый цвет текста */
    text-decoration: none; /* Удалить подчеркивание текста */
}

.navbar-brand-custom:hover {
    color: #ffffff !important; /* Белый цвет текста при наведении */
    text-decoration: none; /* Удалить подчеркивание текста */
}

.navbar-brand-custom img {
	width: 32px; /* Размер картинки */
	height: 32px;
	margin-right: 5px; /* Отступ справа от картинки */
}

.gradient-container {
    background: linear-gradient(to right, #e2669e, #e04281, #b4225d, #a70d67, #960459);
    padding: 15px;
}

.navbar-nav .nav-link.active {
    color: #c9c9c9; /* Серый цвет текста */
}

.nav-link.active:hover {
    color: #ffffff; /* Белый цвет текста при наведении */
}