<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
    <h1>Cart</h1>
    <ul>
        {% for item in cart_items %}
            <li>
                {{ item.product.name }} - {{ item.amount }}
                <form action="{% url 'cart:delete_from_cart' item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remove</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <p>Total price: {{ total_price }}</p>
</body>
</html>
