{% extends 'base.html' %}
{% block content %}
    <h1>Корзина</h1>
        {% for item in cart_items %}
        <ul>
            <li>
        <div class="list-group-item">
            <div class="row">
                {% if item.product.photo %}
                <div class="col-6 col-md-4">
                    <img class="img-fluid rounded" src="{{ item.product.photo.url }}" width="500">
                </div>
                {% endif %}
            </div>
            <div>
                <span>Название: {{ item.product.name }}  </span><br>
                <span>Количество: {{ item.amount }}  </span> <br>
                <form action="{% url 'cart:delete_from_cart' item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remove</button>
                </form>
                <form action="{% url 'cart:add_to_cart' item.product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Добавить еще 1</button>
                </form>
            </div>
        </li>
        </ul>
        {% endfor %}
    </ul>
    <h3>Итоговая цена: {{ total_price }}</h3>
    <h2><a href="">Оплатить</a></h2>
{% endblock %}
