{% extends 'base.html' %}
{% block content %}
{% comment %} {% include 'products/pagination.html' %} {% endcomment %}
<h1 class="display-4">{{ title }}</h1>
<div id="products" class="list-group mb-2">
	{% for item in page_obj %}
	<div class="list-group-item product">
		<div class="row">
			{% if item.photo %}
			<div class="col-6 col-md-4">
				<img class="img-fluid rounded" src="{{ item.photo.url }}">
			</div>
			{% endif %}
			<div class="col-6 col-md-8">
				<h2><a class="text-body" href="{{ item.get_absolute_url }}">{{ item.name }}</a></h2>
				<p>Количество: {{ item.stock }}</p>
				<p>Цена: {{ item.price }} руб</p>
				<p>Здесь будут отзывы</p>
			</div>
		</div>
		{% if page_obj.has_next and forloop.last %}
		<span
			hx-get="{% url 'products:index' %}?page={{ page_obj.next_page_number }}"
			hx-swap="beforeend"
			hx-target="#products"
			hx-select=".product"
			hx-trigger="revealed">
		</span>
		{% endif %}
	</div>
	{% endfor %}
</div>
{% comment %} {% include 'products/pagination.html' %} {% endcomment %}
{% endblock %}