{% extends 'base.html' %}
{% block content %}
{% include 'products/pagination.html' %}
<h1 class="display-4">{{ title }}</h1>
<div class="list-group mb-2">
	{% for item in items %}
	<div class="list-group-item">
		<div class="row">
			{% if item.photo %}
			<div class="col-6 col-md-4">
				<img class="img-fluid rounded" src="{{ item.photo.url }}">
			</div>
			{% endif %}
			<div class="col-6 col-md-8">
				<h2><a class="text-body" href="{{ item.get_absolute_url }}">{{ item.name }}</a></h2>
				<p>Количество: {{ item.stock }}</p>
				<p>Цена: {{ item.price }} руб</p>
				<p>Здесь будут отзывы</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% include 'products/pagination.html' %}
{% endblock %}